*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family:"Poppins"Sans-serif;
}
header{
	width:100%;
	height:50px;
	background:blue;
	color: #fff;
	position:fixed;
	top:0;
	left:0;
}
h1{
	float:left;
}
#banner{
	margin-top:40px;
	position:relative;
}
#banner img{
	top:10px;
	width:100%;
	height:20%;
	position:relative;
}
#banner.contenedor{
	position:absolute;
	top:50%;
	left:100%;
	color:darkblue;
	transform:translateX(10px)translateY(10px);

}
.menu a{
	display:inline-flex;
	color:#fff;
	height:50px;
	text-decoration:initial;
	padding:22px;
	border:1px px solid #fff;
}

.menu a:hover{
	background:darkblue;
}
#bienvenidos h2{
	padding:15px;
	text-transform:uppercase;
}
#servicios{
	padding:50px;
}
#servicios.contenedor{
	display:flex;
	justify-content: center;
	flex: ;
}
#servicios article{
	margin: 16px;
}
#servicios img{
	width: 10%;
	max-width: 30%;
}

